/*  your css code here. If applicable */
 h1 {
            text-align: center;
        }

        table.middle {
            border: 1px solid black;
            border-spacing: 1px;
            margin: 20px auto;
        }

        td {
            border: 1px solid black;
            padding: 1px;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }